*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'sidebar header'
                        'sidebar mycontent';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.header {
    background-color: white;
    padding: 1.5rem 3rem;
    grid-area: header;
    z-index: 3;
   box-shadow: 0 5px 8px 0 rgba(211, 201, 201, 0.2), 0 8px 10px 0 rgba(167, 161, 161, 0.19);
}

.upper-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.upper-left {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}
.upper-left label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 #search {
    display: inline-block;
    border: 0;
    background-color: rgba(211, 211, 211, 0.486);
    padding: 0.75em 2em;
    margin-left: 1.25rem;
    border-radius: 99em;
    width: 300px;
}

.account {
    display: flex;
    align-items: center;
    gap: 5px;
}

.account .picture {
    margin: 0 0.65rem 0 0.65rem;
    height: 40px;
    width: 40px;
} 

.picture {
    border-radius: 50%;
}
button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.lower-header {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile .picture {
    height: 75px;
    width: 75px;
}

.profile .greeting {
    font-weight: 800;
    margin-bottom: 0.4rem;
}

.profile .name {
    font-size: 1.6rem;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.btn {
    background-color: maroon;
    color: white;
    font-weight: 500;
    padding: 0.75em 2em;
    border-radius: 99em;
}

.sidebar {
    display: grid;
    grid-area: sidebar;
    padding: 1.5rem 2rem;
    background-color: maroon;
    color: white;
    height: fit-content;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.75rem;
    margin-bottom: 70px;
}

a {
    text-decoration: none;
    color: white;
}
aside > ul {
    font-size: 20px;
    display: grid;
    gap: 15px;
    padding-bottom: 60px;
}
.nav-bottom {
    margin-bottom: 140px;
}

.nav-link {
    display: grid;
    grid-template-columns: 20% 80%;
    font-weight: bold;
    padding: 6px;
}

main {
    background-color: rgb(248, 242, 242);
    grid-area: mycontent;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'projects announcements'
                         'projects trending';
    gap: 1.3rem;
    overflow: fit-content;
    height: max-content;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 0.2fr 0.2fr 0.2fr;
    gap: 1rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.projects .card {
    border-left: 7px solid lightcoral;
    display: flex;
    flex-direction: column;
    gap: 3px;
} 

.actions {
    align-self: flex-end;
    margin-top: 1.5rem;
}

.card {
    background-color: white;
    padding: 1.3rem;
    border-radius: 0.5rem;
    box-shadow:  0 4px 6px -1px rgba(172, 170, 170, 0.1), 0 2px 4px -2px rgba(165, 161, 161, 0.1);
}

.card-text {
    font-size: 0.7rem;
    color: rgb(75, 75, 75);
}
.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
}

.announcement {
    padding: 10px;
}

.announcement:first-child {
   padding-top: 0; 
}
.trending {
    grid-area: trending;
   
}

.trend .picture {
    height: 40px;
    width: 40px;
}

.trend {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.trend .account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 2px;
}











